@import '../variables.less';
@import './Profile.less';
@import './SocialAccount.less';

.Settings {
  max-width: 1440px;
  padding: 50px 0;
  margin: auto;

  &-header {
    margin-bottom: 30px;
    color: #000000;

    svg {
      width: 12px;
      height: 13px;
    }
  }

  &-sidebar {
    background-color: #ffffff;
    border-radius: 5px;

    a:first-child {
      border-radius: 5px 5px 0 0;
    }

    a:last-child {
      border-radius: 0 0 5px 5px;
    }
  }

  &-content {
    width: calc(100% - 290px);
    background-color: white;
    margin-left: 30px;
    border-radius: 5px;
  }

  @media (max-width: 768px) {
    .rs-sidebar {
      flex: 0 0 60px !important;
      width: 60px !important;
    }

    &-content {
      width: calc(100% - 80px);
      margin-left: 20px;
    }
  }

  @media (max-width: 480px) {
    .rs-sidebar {
      flex: 0 0 45px !important;
      width: 45px !important;
    }

    &-content {
      width: calc(100% - 55px);
      margin-left: 10px;
    }
  }
}

.Group-name {
  color: @color-blue;
  margin-left: 10px;
}