@import '../variables.less';
@import './Profile.less';
@import './SocialAccount.less';

.Settings {
  max-width: 1440px;
  padding: 50px 0;
  margin: auto;

  &-header {
    margin-bottom: 30px;
    color: #000000;

    svg {
      width: 12px;
      height: 13px;
    }
  }

  &-sidebar {
    background-color: #ffffff;
    border-radius: 5px;

    a:first-child {
      border-radius: 5px 5px 0 0;
    }

    a:last-child {
      border-radius: 0 0 5px 5px;
    }
  }

  &-content {
    width: calc(100% - 290px);
    background-color: white;
    margin-left: 30px;
    border-radius: 5px;
  }

  @media (max-width: 768px) {
    .rs-sidebar {
      flex: 0 0 60px !important;
      width: 60px !important;
    }

    &-content {
      width: calc(100% - 80px);
      margin-left: 20px;
    }
  }

  @media (max-width: 480px) {
    .rs-sidebar {
      flex: 0 0 45px !important;
      width: 45px !important;
    }

    &-content {
      width: calc(100% - 55px);
      margin-left: 10px;
    }
  }
}

.Group-name {
  color: @color-blue;
  margin-left: 10px;
}

// ----- Edit Image ----- //
.Edit-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: #3c65c7;
      margin-bottom: 15px;
    }

    p {
      text-align: center;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 400px;
    background-color: #d7d7d7;
    margin: 50px 0 80px;
  }

  &-footer {
    display: flex;
    align-items: center;
    width: 100%;

    .btn-group {
      margin-left: auto;
    }
  }

  &-delete-btn {
    color: @color-blue;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @media (max-width: 1440px) {
    width: 80%;
    margin: 0 auto;

    &-content {
      max-height: 350px;
    }
  }

  @media (max-width: 992px) {
    &-content {
      margin: 50px 0 30px;
    }

    &-footer {
      flex-direction: column;
      align-items: flex-start;
  
      .btn-group {
        margin-top: 30px;
      }
    }
  }

  @media (max-width: 768px) {
    &-content {
      max-height: 300px;
    }
  }
}

// ----- Email Change Modal ----- //
.OTP-change-input {
  .Input-item-title {
    margin-bottom: 10px;

    .required {
      display: none;
    }
  }

  .Input-description {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 12px;
  }

  .Input-item-error {
    font-size: 12px;
    margin-top: 5px;
  }
}

// ----- Company / Company Official List ----- //
.Official-list {
  &-content-header {
    h4 {
      color: @color-dark2;
    }
  }

  &-add-btn {
    cursor: pointer;
  }

  .rs-divider {
    margin: 50px 0;
  }
}

// ----- Company / Company Official List Item ----- //
.Official-list-item {
  position: relative;

  .Select-item,
  .Select-custom-item {
    margin-bottom: 10px;

    .Input-item-title {
      height: 0;
    }
  }

  &-remove-btn {
    position: absolute;
    top: 20px;
    right: -20px;
    cursor: pointer;
  }

  .search-icon {
    margin-right: 10px;

    i {
      font-size: 18px;
      color: @color-blue;
    }
  }

  .rs-divider {
    margin: 0;
  }
}