body {
  font-family: 'Roboto-Regular', 'Roboto', sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 500;
}

h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error {
  color: @color-red;
}

.color-blue {
  color: @color-blue;
}

.page-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 1440px) {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  @media (max-width: 1024px) {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }

  @media (max-width: 480px) {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}

.page-notification {
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: white;
  text-align: center;
  background-color: #77b800;
  padding: 10px 0;
  box-sizing: border-box;
  animation: slide-up 0.8s ease-in-out both;

  &.show {
    height: 40px;
    animation: slide-down 0.8s ease-in-out both;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}

/*
  Global Components
*/
// ----- Input Group ----- //
.Input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  &-title {
    font-family: @font-medium;
    font-size: 16px;
    font-weight: 500;
    color: @color-dark2;
    margin: 0 0 2.25em 0;
  }
}

// ----- Text Input Item ----- //
.Input-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;

  &-title {
    height: 20px;
    font-family: @font-medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: @color-dark2;
    margin-bottom: 5px;
    box-sizing: border-box;

    .required {
      position: absolute;
      top: 3px;
      font-size: 20px;
      color: @color-red;
      margin-left: -2px;
    }

    @media (max-width: 992px) {
      height: fit-content;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: @input-default-bg;
    padding: 0 15px 0 5px;
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;

    &:hover {
      background-color: @input-hover-bg;
      cursor: text;
    }

    &.error {
      border: 1px solid @color-red;
    }

    &.focus {
      background-color: transparent;
      border: 1px solid @color-blue;
    }

    &.disabled {
      background-color: #f0f0f0;
      cursor: default;

      input:disabled {
        background-color: transparent;
        color: @color-dark1;
        cursor: default;
      }
    }

    input,
    textarea {
      font-size: 12px;
      color: #000000;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  &-error {
    position: absolute;
    bottom: -21px;
    font-size: 12px;
    color: @color-red;
    margin-top: 5px;
  }

  &-tooltip {
    position: absolute;
    width: 210px;
    height: 110px;
    background-color: #233c75;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;

    &.right {
      top: 30px;
      right: -230px;

      &::after {
        content: '';
        position: absolute;
        top: 15px;
        left: -10px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 10px solid #233c75;
        border-bottom: 0px solid transparent;
      }
    }

    &.top {
      bottom: 60px;

      &::after {
        content: '';
        position: absolute;
        left: 20px;
        bottom: -10px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 0px solid transparent;
        border-top: 10px solid #233c75;
      }
    }
  }
}

// ----- Textarea Input Item ----- //
.Textarea-item {
  position: relative;
  margin-bottom: 35px;

  &-container {
    align-items: flex-start;
    height: auto;
    padding: 5px;
  }

  &-left-label {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
  }
}

// ----- Phone Number Input Item ----- //
.Phone-number-item {
  position: relative;
  margin-bottom: 35px;

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;

    &.empty {
      .PhoneInputInput {
        border: 1px solid @color-red;
      }
    }

    &.invalid {
      .PhoneInputInput {
        color: @color-red;
      }
    }

    &.disabled {
      .PhoneInputInput {
        background-color: @input-hover-bg;
        cursor: default;
      }
    }

    .verified {
      position: absolute;
      right: 15px;
    }

    .rs-picker-toggle-caret {
      top: 15px;
      left: 45px;
      width: 10px;
    }
  }
}

.PhoneInput {
  width: 100%;
  height: 100%;

  &Country {
    position: absolute;
    top: 18px;
    left: 15px;

    .PhoneInputCountrySelectArrow {
      display: none;
    }
  }

  &Input {
    width: 100%;
    height: 100%;
    background-color: @input-default-bg;
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: none;
    padding-left: 70px;

    &:hover {
      background-color: @input-hover-bg;
    }

    &:focus {
      border: 1px solid @color-blue;
    }
  }
}

// ----- Date Picker Item ----- //
.Date-item {
  position: relative;
  margin-bottom: 35px;
  
  &-toggle {
    border: 1px solid transparent;

    &.opened {
      border: 1px solid @color-blue;

      &.rs-picker-date {
        background-color: white;
      }
    }
  }
}

.rs-picker-date {
  display: flex;
  align-items: center;
  max-width: 200px;
  min-width: 200px;
  height: 48px;
  font-size: 12px;
  color: #000000;
  background-color: @input-default-bg;
  border-radius: 3px;

  &:hover {
    background-color: @input-hover-bg;
  }

  .rs-picker-toggle {
    background-color: transparent !important;

    &-value {
      font-size: 12px;
      color: black !important;
      margin-left: 45px;
    }

    &-caret {
      left: 12px;

      &::before {
        font-size: 20px;
        color: @color-blue;
      }
    }
  }
}

.rs-picker-menu {
  margin-top: 8px;

  .rs-calendar .rs-calendar-month-dropdown-cell-content,
  .rs-calendar .rs-calendar-table-cell-content {
    border-radius: 50%;
  }

  .rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
    border-color: @color-blue;
    background-color: @color-blue;
  }

  .rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
    border: 1px solid @color-blue;
  }

  .rs-picker-toolbar {
    display: none;
  }
}

.rs-calendar {
  &-header {
    .rs-calendar-table-cell-content {
      color: @color-dark1;
    }
  }

  &-view {
    border-top: 1px solid #f2f2f2;
    margin-top: 10px;
    padding-top: 14px;
  }
}

.rs-calendar-table-header-row .rs-calendar-table-cell-content {
  font-family: @font-medium;
  font-size: 13px;
  color: @color-dark1 !important;
}

// ----- Select Picker Item ----- //
.Select-item {
  position: relative;
  margin-bottom: 35px;
  
  &-content {
    border: 1px solid transparent;
    border-radius: 3px;

    &.opened {
      border: 1px solid @color-blue;

      .rs-picker-select {
        background-color: white;
      }
    }
  }
}

.rs-picker-select {
  display: flex;
  align-items: center;
  height: 48px;
  font-size: 12px;
  color: #000000;
  background-color: @input-default-bg;
  border-radius: 3px;

  &:hover {
    background-color: @input-hover-bg;
  }

  .rs-picker-toggle {
    background-color: transparent !important;
    border: none;

    &-value {
      font-size: 12px;
      color: black !important;
      margin-left: 10px;
    }

    &-caret {
      margin-right: 5px;
    }
  }
}

.rs-picker-menu {
  .rs-picker-select-menu-item {
    font-family: @font-regular;
    font-size: 13px;
    padding-left: 22px;
  }

  .rs-picker-select-menu-item.rs-picker-select-menu-item-active,
  .rs-picker-select-menu-item.rs-picker-select-menu-item-active:hover {
    color: @color-blue !important;
    background-color: #f7faff;
  }

  .rs-picker-select-menu-item:not(.rs-picker-select-menu-item-disabled):hover,
  .rs-picker-select-menu-item.rs-picker-select-menu-item-focus {
    color: @color-blue !important;
    background-color: #f7faff;
    text-decoration: none;
  }

  .rs-picker-select-menu-items {
    .ReactVirtualized__Grid__innerScrollContainer {
      height: 300px !important;
      overflow: auto !important;

      div[role=listitem] {
        height: fit-content !important;
        position: relative !important;
        top: auto !important;
      }
    }
  }
}

// ----- Select Custom Picker Item ----- //
.Select-custom-item {
  position: relative;
  margin-bottom: 35px;
  
  &-content {
    border: 1px solid transparent;
    border-radius: 3px;

    &.opened {
      border: 1px solid @color-blue;

      .rs-picker-select {
        background-color: white;
      }
    }
  }
}

.Select-custom-menu-item {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 20px;

  &.divider {
    pointer-events: none;
    padding: 5px 10px 5px 20px;

    .rs-divider {
      width: calc(100% + 30px);
      margin: 0 -10px 0 -20px;
    }
  }

  &.add-btn {
    color: @color-blue;
    padding-left: 20px;

    &:hover {
      cursor: pointer;

      p {
        text-decoration: underline;
      }
    }

    i {
      font-size: 18px;
    }

    p {
      margin-left: 10px;
    }
  }

  &.custom {
    position: relative;

    h4 {
      margin-right: 5px;
    }

    .custom-btn {
      position: absolute;
      display: none;
      padding: 0 5px;

      &.edit-btn {
        right: 25px;
      }

      &.trash-btn {
        right: 5px;
      }
    }

    &:hover {
      .custom-btn {
        display: block;
      }
    }
  }
}

.select-custom-menu {
  .rs-picker-select-menu-item {
    padding: 0;
  }

  .rs-picker-select-menu-item-disabled {
    cursor: default;
  }
}

// ----- Timezone Picker Item ----- //
.Timezone-item {
  position: relative;
  margin-bottom: 35px;
  
  &-content {
    position: relative;

    &.focused {
      .timezone-picker {
        background-color: white;
      }
    }

    .rs-picker-toggle-caret {
      top: 14px;
      right: 16px;
    }
  }
}

.timezone-picker {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: @input-default-bg;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: @input-hover-bg;
  }

  &-textfield {
    width: 100%;
    height: 100%;

    input {
      width: 100%;
      height: 100%;
      font-size: 12px;
      background-color: transparent;
      color: black;
      border: 1px solid transparent;
      border-radius: 3px;
      box-sizing: border-box;
  
      &:focus {
        border: 1px solid @color-blue;
      }
    }
  }

  &-list {
    padding: 5px 0;
    margin-top: 1px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06), 0 4px 4px rgba(0, 0, 0, 0.12);

    &-item {
      padding: 8px 10px;
    }
  }

  .timezone-picker-list-item:hover,
  .timezone-picker-list-item-active {
    color: @color-blue !important;
    background-color: #f7faff;
  }
}

// ----- Button ----- //
#mdpps-button {
  font-size: 16px;
  font-weight: 700;
}

.rs-btn-primary {
  background-color: @color-blue;
}

.rs-btn-primary:not(.rs-btn-disabled):hover {
  background-color: #1449a9;
}

.rs-btn-primary:focus, .rs-btn-primary.rs-btn-focus {
  color: #ffffff;
  background-color: @color-blue;
}

// ----- Modal ----- //
.MDPPS-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #1449a950;
  z-index: 99999;

  &.fullscreen {
    background-color: white;
  }

  &.none-fullscreen {
    .Default-btn,
    .Save-btn {
      width: 120px;
      height: 40px;
    }

    .Default-btn {
      margin-left: auto;
    }
    .Save-btn {
      margin-left: 30px;
    }
  }

  &-close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

    i {
      font-size: 40px;
    }
  }
}

.rs-modal-content {
  padding: 40px 30px 40px 40px;
}

.rs-modal-title {
  font-family: @font-medium;
  color: black !important;
}

.rs-modal-body {
  p {
    font-size: 14px;
  }
}

// ----- Checkbox ----- //
.rs-checkbox-checker {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 18px;
  min-height: 16px;
}

.rs-checkbox-wrapper {
  width: 16px;
  height: 16px;
  left: -10px;
  top: 1px;
}

.rs-checkbox-wrapper::before {
  border: 1px solid #4284fc;
}

.rs-checkbox .rs-checkbox-inner::before {
  border-color: #4284fc;
}

.rs-checkbox-checker:hover .rs-checkbox-wrapper .rs-checkbox-inner::before {
  border-color: #4284fc;
}

.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner::before, .rs-checkbox-indeterminate .rs-checkbox-wrapper .rs-checkbox-inner::before {
  background-color: #4284fc;
}

:hover.rs-checkbox-wrapper [type='checkbox']:focus ~ .rs-checkbox-inner::before {
  -webkit-box-shadow: 0 0 0 2px rgba(54, 130, 244, 0.4);
  box-shadow: 0 0 0 2px rgba(54, 130, 244, 0.4);
}

.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner::before, .rs-checkbox-indeterminate .rs-checkbox-wrapper .rs-checkbox-inner::before {
  border-color: #4284fc;
  background-color: #4284fc;
}

// ----- MDPPS Select ----- //
.mdpps-select {
  &.invalid {
    .mdpps-select__control {
      border-color: @color-red !important;
    }
  }

  &__control {
    height: 50px;
    font-size: 13px !important;
    color: black !important;
    background-color: @input-default-bg !important;
    border-color: transparent !important;
    border-radius: 3px !important;
    box-shadow: none !important;

    &:hover {
      background-color: @input-hover-bg !important;
      cursor: pointer;
    }

    &--is-focused {
      // background-color: white !important;

      &.mdpps-select__control--menu-is-open {
        border-color: @color-blue !important;

        &:hover {
          background-color: white !important;
        }
      }
    }

    &--menu-is-open {
      background-color: white !important;
    }
  }

  &__value-container {
    padding-left: 15px !important;

    .mdpps-select-search-icon {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__single-value {
    color: black !important;
  }

  &__indicator-separator {
    display: none;
  }

  &__menu {
    &-option-container {
      padding-left: 50px;
    }
  }

  &__multi-value {
    display: flex;
    align-items: center;
    border-radius: 101px !important;
    background-color: #4284fc !important;
    color: #ffffff !important;
    margin: 1px 3px !important;
    box-sizing: border-box !important;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15) !important;

    &__label {
      font-family: 'Roboto Regular', 'Roboto', sans-serif;
      font-size: 13px !important;
      color: #ffffff !important;
      text-align: left;
      line-height: 10px !important;
      padding-left: 10px !important;
    }

    &__remove {
      padding-left: 0 !important;
      padding-right: 6px !important;

      &:hover {
        background-color: transparent !important;
        color: white !important;
      }
    }
  }
}

// ----- MDPPS Dropzone ----- //
.MDPPS-dropzone {
  position: relative;
  margin-bottom: 25px;

  &.w9-dropzone {
    .Input-item-title {
      color: #3469c7;
    }
  }

  &-content {
    height: 50px;
    border: 1px dashed #b6d0fd;
    padding: 10px 15px;
    border-radius: 3px;
    box-sizing: border-box;

    &.border-solid {
      border: 1px solid rgba(225, 232, 237, 1);
    }

    .pdf-info-panel {
      display: flex;

      .pdf-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 25px;
        background-color: @color-blue;
        font-family: @font-medium;
        color: white;
        font-size: 8px;
        text-transform: uppercase;
        margin-right: 15px;
        border-radius: 3px;
      }

      .pdf-file_path {
        font-size: 12px;
        color: @color-dark2;
        font-weight: bold;
        line-height: 15px;
        margin-bottom: 3px;
      }

      .pdf-file_date-size {
        font-size: 10px;
        color: #657786;
        line-height: 10px;
      }

      p + p {
        margin-top: 0;
      }

      .loader {
        position: relative;
        width: 30px;
        height: 100%;
        margin-left: auto;

        &-cancel {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          width: 30px;
          height: 30px;
          cursor: pointer;

          i {
            font-size: 12px;
            font-weight: bold;
            color: #677786;
          }
        }
      }

      .control-group {
        display: flex;
        align-items: center;
        margin-left: auto;

        .control-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 3px;
          background-color: rgba(239, 243, 245, 1);
          margin-left: 5px;
          cursor: pointer;

          &.delete-btn {
            svg {
              width: 15px;
              height: 14px;
            }
          }

          &.upload-btn {
            svg g path {
              fill: @color-blue;
            }
          }
        }
      }
    }
    
    .dropzone {
      display: flex;
      align-items: center;

      svg {
        margin-right: 12px;
      }
  
      p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 13px;
        color: @color-dark3;
      }

      button {
        width: 100px;
        height: 30px;
        border-radius: 4px;
        background-color: @color-blue;
        box-sizing: border-box;
        font-family: @font-bold;
        color: #f3f3f4;
        text-align: center;
        line-height: normal;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
        padding-top: 7px;
        margin-left: auto;
      }
    }
  }
}