.Settings-profile {
  position: relative;
}

.Settings-company {
  position: relative;
}

.Background-change-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2;

  svg {
    width: 20px;
    height: 20px;
  }
}

.Profile-container {
  position: relative;

  &.company {
    .Avatar-container {
      background: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

      .Avatar-img {
        width: 100px;
      }

      .Avatar-change-btn {
        right: 0;
        bottom: 0;
      }
    }

    .Right-side {
      .Preview-profile {
        padding-bottom: 5px;
      }
    }
  }
}

.Profile-header {
  padding: 0 12.25%;
  position: absolute;
  // background: #ffffff;
  margin: -60px 0 0;
  // border-radius: 50%;
  z-index: 2;

  .Avatar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 115px;
  }
  
  .Avatar-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .Avatar-change-btn {
    position: absolute;
    right: 8px;
    bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }

  .Right-side {
    height: 100px;
    justify-content: space-between;
    margin-left: 24px;

    .Preview-profile {
      &-link {
        font-size: 14px;
        color: @color-blue;
      }

      svg {
        width: 11px;
        height: 10px;
        margin-left: 8px;
      }
    }
  }

  .Profile-name {
    font-size: 24px;
    color: white;
  }
}

.Profile-content {
  margin-top: 104px;
}
